<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-detect-testflight" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>DetectTestFlight</name>
  <js-module name="DetectTestFlight" src="www/DetectTestFlight.js">
    <clobbers target="detecttestflight" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="DetectTestFlight">
        <param name="ios-package" value="DetectTestFlight" />
      </feature>
    </config-file>
    <source-file src="src/ios/DetectTestFlight.swift" />
  </platform>
</plugin>
